@media (min-width: 48rem) {
  body {
    min-width:100%;
  }

  .headline {
    padding: 260px;
    background: url(img/Header\ bgdesktop_headline.svg), #fff;
  }

  .headline h1 {
    max-width: 70%;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.75rem;
  }

  .work {
    padding: 8.85rem;
  }

  .work > div {
    display: flex;
    flex-direction: row;
    padding: 3rem;
    gap: 1.5rem;
  }

  .img {
    max-width: 50%;
  }

  .img img {
    max-width: 100%;
  }

  .content_work {
    max-width: 50%;
    gap: 2rem;
  }

  #work_2,
  #work_4 {
    flex-direction: row-reverse;
  }

  .about {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    padding: 8.875rem;
  }

  .about_content {
    width: 50%;
  }

  .about_info {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .drop1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .drop1 li {
    flex-direction: \\	 column;
    align-items: flex-start;
    padding: 12px;
  }

  .contact {
    justify-content: center;
    padding: 10% 28%;
  }

  .contact input,
  .contact textarea {
    border-radius: 0;
  }

  .contact form {
    justify-content: flex-start;
  }

  .contact form button {
    align-self: center;
  }

  /* popup menu */
}
