@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  background: #f7f7f9;
  align-items: center;
  margin: auto;
  max-width: 375px;
}

/* header */

header {
  position: sticky;
  top: 0;
  padding: 3.625rem 1.5rem 0.75rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 1.1rem;
  color: #6070ff;
}

header ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

header ul li {
  height: 0.1rem;
  width: 20px;
  background-color: #6070ff;
}

header ul li a {
  visibility: hidden;
}

/* headline */

.headline {
  display: flex;
  flex-direction: column;
  padding: 7.125rem 1.5rem;
  background-color: white;
  gap: 0.75rem;
  border-bottom-left-radius: 50px;
  background-image: url(img/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 100%;
}

.headline h1 {
  font-style: normal;
  font-weight: 700;
  max-width: 70%;
  font-size: 2.6rem;
  line-height: 3.25rem;
  color: #172b4d;
  background-color: #fff;
}

.headline p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

.connect a {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

/* work */

.work {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  padding: 7.125rem 1.5rem;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.work > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.75rem;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 1rem;
}

.img {
  width: 100%;
}

.img img {
  width: 100%;
  height: 100%;
}

.cotent_work {
  width: 50%;
}

.content_work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.work div > img {
  max-width: 100%;
  max-height: 100%;
}

.about_content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.25rem;
  color: #172b4d;
  max-width: 60%;
}

.work div > h2 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.75rem;
  color: #172b4d;
  max-width: 100%;
}

.work-exp {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: baseline;
  max-width: 100%;
}

.work-exp :nth-of-type(1) {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #344563;
}

.work-exp :nth-of-type(3) {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #7a869a;
}

.work-exp :nth-of-type(5) {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #7a869a;
}

.about_content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

.work div > p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
  max-width: 100%;
}

.lang {
  display: flex;
  gap: 0.75rem;
}

.lang li a {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  padding: 0.25rem 0.75rem;
  background: #ebebff;
  border-radius: 0.5rem;
}

.btn {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #fff;
}

.btn:enabled {
  color: #6070ff;
  border: 1px solid #6070ff;
}

.btn:hover {
  background: #6070ff;
  box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
  color: #fff;
}

.btn:focus {
  background: #2230d2;
  color: #fff;
}

.btn:disabled {
  color: #5e6c84;
  background-color: #5e6c84;
}

/* About */
.about {
  background: #fff;
  padding: 7.125rem 1.5rem;
}

.about_content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
}

.lang1,
.lang2,
.lang3 {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lang1 h3,
.lang2 h3,
.lang3 h3 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #000;
}

.drop1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

.drop1 li {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: baseline;
  background: #f7f7f9;
  border-radius: 0.5rem;
  padding: 0.75rem;
  align-items: center;
}

.drop1 li p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #253858;
}

/* contact_form */

.contact_info {
  background-color: white;
}

.contact {
  text-align: center;
  background-color: #6070ff;
  border-top-left-radius: 7.5rem;
  background-image: url(./img/contact\ form\ background\ shapes.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
}

.contact_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 7.5rem 1.5rem 2.9rem;
}

.contact .section_header {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 3.25rem;
  color: white;
}

.contact .description {
  font-weight: 400;
  font-size: 1.35rem;
  line-height: 1.75rem;
  color: white;
  text-align: center;
  align-items: center;
  transition: all 0.5s linear;
}

.contact .description:hover {
  margin-left: 2.5rem;
}

.contact form {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contact input,
.contact textarea {
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.25rem;
  padding: 0.9rem;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 0.5rem;
}

.contact button {
  padding: 0.75rem;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #7777e0;
  max-width: 40%;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* popup menu */

.popup_menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;


  position:absolute;
  max-width: 343px;
  height: 100vh;
  top: 60px;
  left: calc(50% - 343px/2);
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.heading_pop{
  display: flex;
  flex-direction: row;
  align-items:center;
  padding: 0px;
  justify-content: space-between;
}

.popup_exp{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}

.popup_exp li:nth-of-type(1){
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.popup_exp li:nth-of-type(3){
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
} 

.popup_exp li:nth-of-type(5){
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
}

.imgpopup{
  max-width: 100%;
  border-radius: 8px;
}


.popup-menu p{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}
.popup_info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.btn-live-source{
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.btn-live-source button{
  align-items: center;
  padding: 12px 22px;
  gap: 10px;
  border: 1px solid #6070FF;
  border-radius: 8px;
  background-color: white;
}


.btn-live-source button a{
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #396DF2;
}